In [1]:
import gspread
import gspread_dataframe as gd
from oauth2client.service_account import ServiceAccountCredentials
import pandas as pd

In [2]:

# tells what api what it can access
scope = ["https://spreadsheets.google.com/feeds",'https://www.googleapis.com/auth/spreadsheets',"https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive"]

creds = ServiceAccountCredentials.from_json_keyfile_name('my_cred.json', scope)

gc = gspread.authorize(creds)

In [8]:
wks = gc.open('gspread_example_sheet').sheet1
data = wks.get_all_records()  #gets all values as a list of dictionaries

In [9]:
data[1:]

[{'Brand': 'BMW', 'Model': '323i'}, {'Brand': 'BMW', 'Model': 'z3'}]

In [10]:
df = pd.DataFrame(data)
df

  Brand Model
0  Audi    A3
1   BMW  323i
2   BMW    z3

In [11]:
additional_info = {'Brand': 'Mercedes', 'Model': 'G-wagon'}
df = df.append(additional_info, ignore_index = True)
df

      Brand    Model
0      Audi       A3
1       BMW     323i
2       BMW       z3
3  Mercedes  G-wagon

In [12]:
update_ws = gc.open('gspread_example_sheet').sheet1
gd.set_with_dataframe(update_ws, df)