In [1]:
# https://pandas-datareader.readthedocs.io
import pandas_datareader.data as web

from datetime import datetime, date, timedelta
import requests, re
import pandas as pd
from bs4 import BeautifulSoup
from csv import writer, reader


        
def stock_prices():
    
    # date range of stock quotes
    start_dt = datetime(2018, 1, 1)
    end_dt = datetime(2019, 5, 30)
    
    # date of top comments
#     comment_dt = datetime.date.today() + datetime.timedelta(-30)
#     comment_dt = comment_dt.strftime('%Y-%m-%d') 
    comment_dt = datetime(2019, 2, 1).strftime('%Y-%m-%d')  # converts to string
    
    
    # open pandas, get list of ticker symbols
    all_comments = pd.read_csv('all-comments.csv')
    recent_comments = all_comments[all_comments['date'] > comment_dt]  # df with comments after date
    recent_comments = recent_comments['ticker'].value_counts().head(50).index  # return list of tickers
    
    
    with open('stock_prices.csv', 'w', encoding='utf-8', newline = '') as csv_file:
        csv_writer = writer(csv_file)
        csv_writer.writerow(['ticker', 'date', 'open_price', 'close_price', 'volume'])  # writes header
    
        for company in recent_comments:  # loops through each of the top comments 
            try:
                prices = web.DataReader(company, 'iex', start_dt, end_dt)   # calls pandas datareader
                for index, row in prices.iterrows():   # iterates through df and writes to excel fi
                    ticker = company
                    date = index
                    open_price =  row['open']
                    close_price = row['close']
                    volume = row['volume']

                    csv_writer.writerow([ticker, date, open_price, close_price, volume])
            except:
                pass

In [2]:
stock_prices()

In [9]:
start = datetime(2015, 2, 9)
end = datetime(2019, 5, 24)
f = web.DataReader(['TSLA', 'F'], 'iex', start, end)

In [11]:
f.head()

Attributes     open             high                low            close  \
Symbols           F    TSLA        F      TSLA        F    TSLA        F
date
2015-02-09  12.4243  215.38  12.6372  217.9300  12.3928  211.99  12.5505
2015-02-10  12.6530  217.55  12.7239  220.5000  12.5426  215.00  12.6845
2015-02-11  12.6766  212.21  12.8579  214.7400  12.6214  207.28  12.8106
2015-02-12  12.8816  193.57  12.9683  203.0882  12.8501  193.28  12.8974
2015-02-13  12.8737  202.90  12.8974  205.9900  12.7633  200.91  12.8501

Attributes            volume
Symbols       TSLA         F      TSLA
date
2015-02-09  217.48  20286720   3472423
2015-02-10  216.29  27928530   5390542
2015-02-11  212.80  34285331   9769102
2015-02-12  202.88  23738806  15649607
2015-02-13  203.77  19954568   6191003

In [100]:
try:
    f2 = web.DataReader('TSLS', 'iex', start, end)
except:
    pass

In [101]:
f2 = f2.head()
f2

              open      high     low   close    volume
date
2015-02-09  215.38  217.9300  211.99  217.48   3472423
2015-02-10  217.55  220.5000  215.00  216.29   5390542
2015-02-11  212.21  214.7400  207.28  212.80   9769102
2015-02-12  193.57  203.0882  193.28  202.88  15649607
2015-02-13  202.90  205.9900  200.91  203.77   6191003

In [75]:
# for index, row in df.iterrows():
#     print (row['link'])

for index, row in f2.iterrows():
    print (row['open'])

215.38
217.55
212.21
193.57
202.9

In [76]:
for index, row in f2.iterrows():
    print (index)

2015-02-09
2015-02-10
2015-02-11
2015-02-12
2015-02-13

In [92]:
all_comments = pd.read_csv('all-comments.csv')
all_comments.head()
comment_dt = datetime(2019, 2, 1).strftime('%Y-%m-%d')

In [93]:
comment_dt

'2019-02-01'

In [88]:
comment_dt = datetime(2019, 2, 1)
recent_comments = all_comments[all_comments['date'] > comment_dt]  # new df with only comments after
recent_comments.head()

TypeError: '>' not supported between instances of 'str' and 'datetime.datetime'

In [46]:
recent_comments = recent_comments['ticker'].value_counts().head(50).index
recent_comments

Index(['GM', 'BKS', 'ORCL', 'WIN', 'UNP', 'LOW', 'GE', 'XRX', 'PEP', 'SHLD',
       'CVS', 'DVN', 'BK', 'DXC', 'VZ', 'QCOM', 'WMT', 'ATUS', 'WFC', 'HON',
       'AIG', 'IBM', 'SPLS', 'BBBY', 'BAC', 'HUM', 'STX', 'TRI', 'CSCO',
       'JNPR', 'MAT', 'ENB', 'WFM', 'SLB', 'STT', 'DELL', 'CTL', 'DV', 'BHGE',
       'MOH', 'CVX', 'DST', 'CHK', 'DRQ', 'MRO', 'EBAY', 'WFT', 'HAL', 'SAP',
       'NSC'],
      dtype='object')