In [17]:
import requests, re
import pandas as pd

In [7]:
# Get top 50 companies by comments last 30 days - source is the all_comments file

# Loop through each company and call the API

# Save data to a Excel file

import requests, datetime
import pandas as pd
import csv
from csv import writer, reader

def news_info():
    
    all_comments = pd.read_csv('all-comments.csv')
    
    begin_date = datetime.date.today() + datetime.timedelta(-30)  # gets 30 day prior date
    begin_date = begin_date.strftime('%Y-%m-%d')    # converts to a string
    
    recent_comments = all_comments[all_comments['date'] > begin_date]
    recent_comments = recent_comments['ticker'].value_counts().head(50).index

    with open('news.csv', 'w', encoding='utf-8', newline = '') as file:    #Opens new file to write to
        csv_object = csv.writer(file)
        csv_object.writerow(['ticker', 'title', 'text', 'source_name', 'date', 'sentiment','news_url'])  #Header

        for company in recent_comments:  # loops through each of the top tickers
            url = 'https://stocknewsapi.com/api/v1?tickers=' + company + '&items=50&fallback=false&token=tptcqznuqvo0xmmpqw1dzbxlz5btqlkufaqxfjqx'
            stories = requests.get(url)
            stories = stories.json()   # decode the JSON response body into a dictionary
            stories = stories['data']  # gets a list of dictionaries for each company 
            if len(stories) == 0:
                pass                 # if no stories pass
            else:
                for story in stories:   #loops through the dictionary
                    ticker = company
                    title = story['title']
                    text = story['text']
                    source_name = story['source_name']
                    date = story['date']
                    sentiment = story['sentiment']
                    news_url = story['news_url']

                    csv_object.writerow([ticker, title, text, source_name, date, sentiment, news_url])

In [8]:
news_info()

In [13]:
stories = requests.get('https://stocknewsapi.com/api/v1?tickers=TSLA&items=10&fallback=false&token=tptcqznuqvo0xmmpqw1dzbxlz5btqlkufaqxfjqx')

In [14]:
stories

In [15]:
# decode the JSON response body into a dictionary
stories = stories.json()

In [16]:
stories # dictionary where data is key and a list of dictionary's are the values

{'data': [{'title': "Here's why the SEC has a problem with Elon Musk",
   'news_url': 'https://www.youtube.com/watch?v=b7Q2dlVjDww',
   'image_url': 'https://stocknewsapi.com/images/v1/m/q/mqdefault-16-1.jpg',
   'text': 'SEC seeks to hold Elon Musk in contempt of court on claims he violated an agreement.',
   'sentiment': 'Negative',
   'type': 'Video',
   'source_name': 'Yahoo Finance',
   'date': 'Tue, 12 Mar 2019 17:22:31 +0000',
   'tickers': ['TSLA']},
  {'title': 'Elon Musk fires back at SEC',
   'news_url': 'https://www.youtube.com/watch?v=RdCjnYyXW34',
   'image_url': 'https://stocknewsapi.com/images/v1/m/q/mqdefault-16.jpg',
   'text': "Rick Newman of Yahoo Finance breaks down why the SEC has issue with Elon Musk's tweets.",
   'sentiment': 'Negative',
   'type': 'Video',
   'source_name': 'Yahoo Finance',
   'date': 'Tue, 12 Mar 2019 15:06:36 +0000',
   'tickers': ['TSLA']},
  {'title': "Musk SEC Troubles 'Overwhelming' Tesla Story, Lehmann Says",
   'news_url': 'https://www.youtube.com/watch?v=N5CcoaLm-4Y',
   'image_url': 'https://stocknewsapi.com/images/v1/m/q/mqdefault-8.jpg',
   'text': 'Mark\xa0Lehmann, president at JMP Securities, discusses the outlook for Tesla Inc. with Bloomberg\'s Jonathan Ferro on "Bloomberg Markets:\xa0The\xa0Open."',
   'sentiment': 'Negative',
   'type': 'Video',
   'source_name': 'Bloomberg Markets and Finance',
   'date': 'Tue, 12 Mar 2019 14:59:39 +0000',
   'tickers': ['TSLA']},
  {'title': "Musk Calls SEC Censorship 'Unconstitutional,' Asks Judge To Dismiss Contempt Charge",
   'news_url': 'http://feeds.benzinga.com/~r/benzinga/~3/NgY78giHqtE/musk-calls-sec-censorship-unconstitutional-asks-judge-to-dismiss-contempt-charge',
   'image_url': 'https://stocknewsapi.com/images/v1/e/l/elon-musk-in-mission-control-at-spacex-8.jpg',
   'text': 'Tesla Inc CEO Elon Musk has never been one to take hits lying down.',
   'sentiment': 'Negative',
   'type': 'Article',
   'source_name': 'Benzinga',
   'date': 'Tue, 12 Mar 2019 13:18:49 +0000',
   'tickers': ['TSLA']},
  {'title': "Morgan Stanley's Jonas: Tesla's stock to drop because price cuts reveal demand 'air pocket'",
   'news_url': 'https://www.cnbc.com/2019/03/12/tesla-headed-for-demand-air-pocket-morgan-stanley-sees-10percent-downside.html',
   'image_url': 'https://stocknewsapi.com/images/v1/1/0/105773439-1551717349171rtx6p9uc530x298.jpg',
   'text': 'Tesla\'s Model 3 price cut suggests the electric car maker is approaching an "air pocket" in demand, Morgan Stanley says.',
   'sentiment': 'Negative',
   'type': 'Article',
   'source_name': 'CNBC',
   'date': 'Tue, 12 Mar 2019 13:18:32 +0000',
   'tickers': ['TSLA']},
  {'title': 'Tesla Is Completely Out of Control',
   'news_url': 'https://www.fool.com/investing/2019/03/12/tesla-is-completely-out-of-control.aspx?source=iedfolrf0000001',
   'image_url': 'https://stocknewsapi.com/images/v1/u/r/urlhttps3a2f2fgfoolcdncom2feditorial2fimages2f5158312findustrials-autos-tesla-model-3-tsla.jpg',
   'text': 'Erratic decision-making is probably a sign of deeper problems at Tesla.',
   'sentiment': 'Negative',
   'type': 'Article',
   'source_name': 'The Motley Fool',
   'date': 'Tue, 12 Mar 2019 12:36:21 +0000',
   'tickers': ['TSLA']},
  {'title': "Elon Musk's lawyers shoot down SEC filing against Tesla CEO",
   'news_url': 'https://www.cnbc.com/2019/03/12/elon-musks-lawyers-shoot-down-sec-lawsuit.html',
   'image_url': 'https://stocknewsapi.com/images/v1/1/0/105637070-1545233697961rtx6j4ym530x298.jpg',
   'text': "Tesla CEO Elon Musk shot back against U.S. securities regulators on Monday, arguing in a filing that his recent tweet about the electric vehicle maker's production volume did not violate the court's judgment.",
   'sentiment': 'Negative',
   'type': 'Article',
   'source_name': 'CNBC',
   'date': 'Tue, 12 Mar 2019 02:24:13 +0000',
   'tickers': ['TSLA']},
  {'title': 'Model 3 Demand Is Potentially a Lot More Than Expected, Tesla Analyst Rusch Says',
   'news_url': 'https://www.youtube.com/watch?v=dfr20qbFFHY',
   'image_url': 'https://stocknewsapi.com/images/v1/t/e/tesla-13.jpg',
   'text': 'Elon Musk is backtracking from a change in Tesla Inc.’s retailing strategy, keeping many of the company’s stores open and raising the prices of its electric cars. Oppenheimer analyst Colin Rusch and Bloomberg\'s Craig Trudell discuss on "Bloomberg Technology."',
   'sentiment': 'Positive',
   'type': 'Video',
   'source_name': 'Bloomberg Technology',
   'date': 'Mon, 11 Mar 2019 23:50:43 +0000',
   'tickers': ['TSLA']},
  {'title': 'Tesla scales backs store closing and raises prices',
   'news_url': 'https://www.youtube.com/watch?v=o6tMGJj3d3Y',
   'image_url': 'https://stocknewsapi.com/images/v1/o/6/o6tmgjj3d3y.jpg',
   'text': "Jackie DeAngelis and Dan Howley of Yahoo Finance discuss the reason for Tesla's decision to reconsider closing all of its stores.",
   'sentiment': 'None',
   'type': 'Video',
   'source_name': 'Yahoo Finance',
   'date': 'Mon, 11 Mar 2019 22:26:07 +0000',
   'tickers': ['TSLA']},
  {'title': 'Is The Street Ready For A 33% Tesla Unit Delivery Miss In Q1?',
   'news_url': 'https://seekingalpha.com/article/4247782-street-ready-33-percent-tesla-unit-delivery-miss-q1?source=feed_tag_short_ideas',
   'image_url': 'https://stocknewsapi.com/images/v1/t/e/tesla-1-2-1.jpg',
   'text': 'CNBC personality and top Tesla bull Trip Chowdhry from Global Equities Research has dramatically cut his Q1 Tesla unit delivery estimate by almost 50%',
   'sentiment': 'Negative',
   'type': 'Article',
   'source_name': 'Seeking Alpha',
   'date': 'Mon, 11 Mar 2019 22:20:41 +0000',
   'tickers': ['TSLA']}]}

In [9]:
stories = stories['data']
stories

[]

In [10]:
len(stories)

0

In [12]:
if len(stories) == 0:
    pass
else:
    for story in stories:
        print (story['date'])

print ('hello')

hello

In [316]:
# Get top 100 companies by comments, last 30 days

all_comments = pd.read_csv('all-comments.csv')

In [317]:
all_comments.head()

,company,ticker,title,body,date,replies
0,A. H. Belo Corporation,AHC,Any updates on layoffs at DMN Media,This is for 2017. Do you have updates - they r...,2017-08-23,0
1,A. Schulman Inc.,SHLM,I've seen worse years,The whole industry is doing well this year and...,2014-05-24,0
2,A.C. Moore Arts & Crafts Inc.,ACMR,ACMR is closing stores,How reliable is this info,2017-03-13,0
3,A.C. Moore Arts & Crafts Inc.,ACMR,"Amazon is cannibalizing the whole market, let'...","I would like to see AC Moore recover, but it l...",2014-07-22,0
4,A.C. Moore Arts & Crafts Inc.,ACMR,Another online victim,Amazon is killing all of us - we'll see what 2...,2014-05-24,0

In [319]:
top_comments = all_comments[all_comments['date'] > '2019-02-11']
top_comments.head()

,company,ticker,title,body,date,replies
111,ADP,ADP,"Declined VERP, then got laid off",Does anyone have first hand knowledge of an em...,2019-03-05,2
112,ADP,ADP,Anyone here from ADP RPO? I know we have also ...,no body text,2019-03-05,0
113,ADP,ADP,Do we know total numbers?,Do we know how many people received their noti...,2019-03-01,0
114,ADP,ADP,St Louis Office Closing,St Louis Office Closing in April. Employees th...,2019-02-28,15
115,ADP,ADP,Last round of VERP,Last round of VERP associates leave on Friday ...,2019-02-26,15

In [299]:
top_comments['ticker'].value_counts().head(20)

VZ      40
WMT     40
BK      40
DVN     40
PEP     40
SHLD    40
CVS     40
WIN     40
QCOM    40
UNP     40
LOW     40
GM      40
XRX     40
ORCL    39
BKS     38
DXC     35
GE      33
BBBY    30
ATUS    27
AIG     26
Name: ticker, dtype: int64

In [320]:
top_comments = top_comments['ticker'].value_counts().head(20).index

In [321]:
top_comments

Index(['VZ', 'WMT', 'BK', 'DVN', 'PEP', 'SHLD', 'CVS', 'WIN', 'QCOM', 'UNP',
       'LOW', 'GM', 'XRX', 'ORCL', 'BKS', 'DXC', 'GE', 'BBBY', 'ATUS', 'AIG'],
      dtype='object')

In [326]:
# alt way using groupby
top_comp = all_comments.groupby('ticker')

In [333]:
top_comp.head()

        company  title  body  date  replies
ticker
BA           51     51    51    51       51
LINC         48     48    48    48       48
DE           46     46    46    46       46
TTM          44     44    44    44       44
COP          41     41    41    41       41

In [334]:
top_comp.index

Index(['BA', 'LINC', 'DE', 'TTM', 'COP', 'WFT', 'QCOM', 'GE', 'BBT', 'WIND',
       ...
       'EQM', 'EQR', 'PDCE', 'EQT', 'ERA', 'PCZ', 'ERN', 'EROC', 'PCOP',
       'QMED'],
      dtype='object', name='ticker', length=3280)

In [59]:
# get last 30 days date
import datetime

In [335]:
begin_date = datetime.date.today() + datetime.timedelta(-30)
begin_date = begin_date.strftime('%Y-%m-%d')

In [336]:
begin_date

'2019-02-10'

In [337]:
test_date = '2019-03-01'
type(test_date)

str

In [338]:
top_comments = all_comments[all_comments['date'] > begin_date]
top_comments.head()

,company,ticker,title,body,date,replies
111,ADP,ADP,"Declined VERP, then got laid off",Does anyone have first hand knowledge of an em...,2019-03-05,2
112,ADP,ADP,Anyone here from ADP RPO? I know we have also ...,no body text,2019-03-05,0
113,ADP,ADP,Do we know total numbers?,Do we know how many people received their noti...,2019-03-01,0
114,ADP,ADP,St Louis Office Closing,St Louis Office Closing in April. Employees th...,2019-02-28,15
115,ADP,ADP,Last round of VERP,Last round of VERP associates leave on Friday ...,2019-02-26,15