In [1]:
import requests
import pandas as pd

In [52]:
api_key = 'Y1wqSBHqhkOrzj0Ln0ZXQVDEXbFzTXb2'

In [53]:
tickers = ['AAPL', 'NVDA', 'WMT']

In [54]:
# sim_ids = []

for ticker in tickers:

    request_url = f'https://simfin.com/api/v1/info/find-id/ticker/{ticker}?api-key={api_key}'
    content = requests.get(request_url)
    data = content.json()
    print(data)

[{'simId': 111052, 'ticker': 'AAPL', 'name': 'APPLE INC'}]
[{'simId': 172199, 'ticker': 'NVDA', 'name': 'NVIDIA CORP'}]
[{'simId': 239962, 'ticker': 'WMT', 'name': 'WAL MART STORES INC'}]

In [56]:
sim_ids = []
for ticker in tickers:

    request_url = f'https://simfin.com/api/v1/info/find-id/ticker/{ticker}?api-key={api_key}'
    content = requests.get(request_url)
    data = content.json()

    if "error" in data or len(data) < 1:
        sim_ids.append(None)
    else:
        sim_ids.append(data[0]['simId'])

print(sim_ids)

[111052, 172199, 239962]

In [7]:
# define time periods for financial statement data
statement_type = "pl"
time_periods = ["Q1","Q2","Q3","Q4"]
year_start = 2013
year_end = 2018

In [8]:
data = {}
for idx, sim_id in enumerate(sim_ids):
    d = data[tickers[idx]] = {"Line Item": []}
    if sim_id is not None:
        for year in range(year_start, year_end + 1):
            for time_period in time_periods:

                period_identifier = time_period + "-" + str(year)

                if period_identifier not in d:
                    d[period_identifier] = []

                request_url = f'https://simfin.com/api/v1/companies/id/{sim_id}/statements/standardised?stype={statement_type}&fyear={year}&ptype={time_period}&api-key={api_key}'

                content = requests.get(request_url)
                statement_data = content.json()

                # collect line item names once, they are the same for all companies with the standardised data
                if len(d['Line Item']) == 0:
                    d['Line Item'] = [x['standardisedName'] for x in statement_data['values']]

                if 'values' in statement_data:
                    for item in statement_data['values']:
                        d[period_identifier].append(item['valueChosen'])
                else:
                    # no data found for time period
                    d[period_identifier] = [None for _ in d['Line Item']]

In [14]:
data['AAPL']

{'Line Item': ['Revenue',
  'Sales & Services Revenue',
  'Financing Revenue',
  'Other Revenue',
  'Cost of revenue',
  'Cost of Goods & Services',
  'Cost of Financing Revenue',
  'Cost of Other Revenue',
  'Gross Profit',
  'Other Operating Income',
  'Operating Expenses',
  'Selling, General & Administrative',
  'Selling & Marketing',
  'General & Administrative',
  'Research & Development',
  'Depreciation & Amortization',
  'Provision For Doubtful Accounts',
  'Other Operating Expense',
  'Operating Income (Loss)',
  'Non-Operating Income (Loss)',
  'Interest Expense, net',
  'Interest Expense',
  'Interest Income',
  'Other Investment Income (Loss)',
  'Foreign Exchange Gain (Loss)',
  'Income (Loss) from Affiliates',
  'Other Non-Operating Income (Loss)',
  'Pretax Income (Loss), Adjusted',
  'Abnormal Gains (Losses)',
  'Acquired In-Process R&D',
  'Merger / Acquisition Expense',
  'Abnormal Derivatives',
  'Disposal of Assets',
  'Early extinguishment of Debt',
  'Asset Write-Down',
  'Impairment of Goodwill & Intangibles',
  'Sale of Business',
  'Legal Settlement',
  'Restructuring Charges',
  'Sale of and Unrealized Investments',
  'Insurance Settlement',
  'Other Abnormal Items',
  'Pretax Income (Loss)',
  'Income Tax (Expense) Benefit, net',
  'Current Income Tax',
  'Deferred Income Tax',
  'Tax Allowance/Credit',
  'Income (Loss) from Affiliates, net of taxes',
  'Income (Loss) from Continuing Operations',
  'Net Extraordinary Gains (Losses)',
  'Discontinued Operations',
  'XO & Accounting Charges & Other',
  'Income (Loss) Including Minority Interest',
  'Minority Interest',
  'Net Income',
  'Preferred Dividends',
  'Other Adjustments',
  'Net Income Available to Common Shareholders'],
 'Q1-2013': ['54512000000',
  None,
  None,
  None,
  '-33452000000',
  None,
  None,
  None,
  21060000000,
  None,
  -3850000000,
  '-2840000000',
  None,
  None,
  '-1010000000',
  None,
  None,
  None,
  17210000000,
  462000000,
  None,
  None,
  None,
  None,
  None,
  None,
  '462000000',
  17672000000,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  17672000000,
  '-4594000000',
  None,
  None,
  None,
  None,
  13078000000,
  None,
  None,
  None,
  13078000000,
  None,
  13078000000,
  None,
  None,
  13078000000],
 'Q2-2013': ['43603000000',
  None,
  None,
  None,
  '-27254000000',
  None,
  None,
  None,
  16349000000,
  None,
  -3791000000,
  '-2672000000',
  None,
  None,
  '-1119000000',
  None,
  None,
  None,
  12558000000,
  347000000,
  None,
  None,
  None,
  None,
  None,
  None,
  '347000000',
  12905000000,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  12905000000,
  '-3358000000',
  None,
  None,
  None,
  None,
  9547000000,
  None,
  None,
  None,
  9547000000,
  None,
  9547000000,
  None,
  None,
  9547000000],
 'Q3-2013': ['35323000000',
  None,
  None,
  None,
  '-22299000000',
  None,
  None,
  None,
  13024000000,
  None,
  -3823000000,
  '-2645000000',
  None,
  None,
  '-1178000000',
  None,
  None,
  None,
  9201000000,
  234000000,
  None,
  None,
  None,
  None,
  None,
  None,
  '234000000',
  9435000000,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  9435000000,
  '-2535000000',
  None,
  None,
  None,
  None,
  6900000000,
  None,
  None,
  None,
  6900000000,
  None,
  6900000000,
  None,
  None,
  6900000000],
 'Q4-2013': [37472000000,
  None,
  None,
  None,
  -23601000000,
  None,
  None,
  None,
  13871000000,
  None,
  -3841000000,
  -2673000000,
  None,
  None,
  -1168000000,
  None,
  None,
  None,
  10030000000,
  113000000,
  None,
  None,
  None,
  None,
  None,
  None,
  113000000,
  10143000000,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  10143000000,
  -2631000000,
  None,
  None,
  None,
  None,
  7512000000,
  None,
  None,
  None,
  7512000000,
  None,
  7512000000,
  None,
  None,
  7512000000],
 'Q1-2014': ['57594000000',
  None,
  None,
  None,
  '-35748000000',
  None,
  None,
  None,
  21846000000,
  None,
  -4383000000,
  '-3053000000',
  None,
  None,
  '-1330000000',
  None,
  None,
  None,
  17463000000,
  246000000,
  None,
  None,
  None,
  None,
  None,
  None,
  '246000000',
  17709000000,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  17709000000,
  '-4637000000',
  None,
  None,
  None,
  None,
  13072000000,
  None,
  None,
  None,
  13072000000,
  None,
  13072000000,
  None,
  None,
  13072000000],
 'Q2-2014': ['45646000000',
  None,
  None,
  None,
  '-27699000000',
  None,
  None,
  None,
  17947000000,
  None,
  -4354000000,
  '-2932000000',
  None,
  None,
  '-1422000000',
  None,
  None,
  None,
  13593000000,
  225000000,
  None,
  None,
  None,
  None,
  None,
  None,
  '225000000',
  13818000000,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  13818000000,
  '-3595000000',
  None,
  None,
  None,
  None,
  10223000000,
  None,
  None,
  None,
  10223000000,
  None,
  10223000000,
  None,
  None,
  10223000000],
 'Q3-2014': ['37432000000',
  None,
  None,
  None,
  '-22697000000',
  None,
  None,
  None,
  14735000000,
  None,
  -4453000000,
  '-2850000000',
  None,
  None,
  '-1603000000',
  None,
  None,
  None,
  10282000000,
  202000000,
  None,
  None,
  None,
  None,
  None,
  None,
  '202000000',
  10484000000,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  10484000000,
  '-2736000000',
  None,
  None,
  None,
  None,
  7748000000,
  None,
  None,
  None,
  7748000000,
  None,
  7748000000,
  None,
  None,
  7748000000],
 'Q4-2014': [42123000000,
  None,
  None,
  None,
  -26114000000,
  None,
  None,
  None,
  16009000000,
  None,
  -4844000000,
  -3158000000,
  None,
  None,
  -1686000000,
  None,
  None,
  None,
  11165000000,
  307000000,
  None,
  None,
  None,
  None,
  None,
  None,
  307000000,
  11472000000,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  11472000000,
  -3005000000,
  None,
  None,
  None,
  None,
  8467000000,
  None,
  None,
  None,
  8467000000,
  None,
  8467000000,
  None,
  None,
  8467000000],
 'Q1-2015': ['74599000000',
  None,
  None,
  None,
  '-44858000000',
  None,
  None,
  None,
  29741000000,
  None,
  -5495000000,
  '-3600000000',
  None,
  None,
  '-1895000000',
  None,
  None,
  None,
  24246000000,
  170000000,
  None,
  None,
  None,
  None,
  None,
  None,
  '170000000',
  24416000000,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  24416000000,
  '-6392000000',
  None,
  None,
  None,
  None,
  18024000000,
  None,
  None,
  None,
  18024000000,
  None,
  18024000000,
  None,
  None,
  18024000000],
 'Q2-2015': ['58010000000',
  None,
  None,
  None,
  '-34354000000',
  None,
  None,
  None,
  23656000000,
  None,
  -5378000000,
  '-3460000000',
  None,
  None,
  '-1918000000',
  None,
  None,
  None,
  18278000000,
  286000000,
  None,
  None,
  None,
  None,
  None,
  None,
  '286000000',
  18564000000,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  18564000000,
  '-4995000000',
  None,
  None,
  None,
  None,
  13569000000,
  None,
  None,
  None,
  13569000000,
  None,
  13569000000,
  None,
  None,
  13569000000],
 'Q3-2015': ['49605000000',
  None,
  None,
  None,
  '-29924000000',
  None,
  None,
  None,
  19681000000,
  None,
  -5598000000,
  '-3564000000',
  None,
  None,
  '-2034000000',
  None,
  None,
  None,
  14083000000,
  390000000,
  None,
  None,
  None,
  None,
  None,
  None,
  '390000000',
  14473000000,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  14473000000,
  '-3796000000',
  None,
  None,
  None,
  None,
  10677000000,
  None,
  None,
  None,
  10677000000,
  None,
  10677000000,
  None,
  None,
  10677000000],
 'Q4-2015': [51501000000,
  None,
  None,
  None,
  -30953000000,
  None,
  None,
  None,
  20548000000,
  None,
  -5925000000,
  -3705000000,
  None,
  None,
  -2220000000,
  None,
  None,
  None,
  14623000000,
  439000000,
  None,
  None,
  None,
  None,
  None,
  None,
  439000000,
  15062000000,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  15062000000,
  -3938000000,
  None,
  None,
  None,
  None,
  11124000000,
  None,
  None,
  None,
  11124000000,
  None,
  11124000000,
  None,
  None,
  11124000000],
 'Q1-2016': ['75872000000',
  None,
  None,
  None,
  '-45449000000',
  None,
  None,
  None,
  30423000000,
  None,
  -6252000000,
  '-3848000000',
  None,
  None,
  '-2404000000',
  None,
  None,
  None,
  24171000000,
  402000000,
  None,
  None,
  None,
  None,
  None,
  None,
  '402000000',
  24573000000,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  24573000000,
  '-6212000000',
  None,
  None,
  None,
  None,
  18361000000,
  None,
  None,
  None,
  18361000000,
  None,
  18361000000,
  None,
  None,
  18361000000],
 'Q2-2016': ['50557000000',
  None,
  None,
  None,
  '-30636000000',
  None,
  None,
  None,
  19921000000,
  None,
  -5934000000,
  '-3423000000',
  None,
  None,
  '-2511000000',
  None,
  None,
  None,
  13987000000,
  155000000,
  None,
  None,
  None,
  None,
  None,
  None,
  '155000000',
  14142000000,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  14142000000,
  '-3626000000',
  None,
  None,
  None,
  None,
  10516000000,
  None,
  None,
  None,
  10516000000,
  None,
  10516000000,
  None,
  None,
  10516000000],
 'Q3-2016': ['42358000000',
  None,
  None,
  None,
  '-26252000000',
  None,
  None,
  None,
  16106000000,
  None,
  -6001000000,
  '-3441000000',
  None,
  None,
  '-2560000000',
  None,
  None,
  None,
  10105000000,
  364000000,
  None,
  None,
  None,
  None,
  None,
  None,
  '364000000',
  10469000000,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  10469000000,
  '-2673000000',
  None,
  None,
  None,
  None,
  7796000000,
  None,
  None,
  None,
  7796000000,
  None,
  7796000000,
  None,
  None,
  7796000000],
 'Q4-2016': [46852000000,
  None,
  None,
  None,
  -29039000000,
  None,
  None,
  None,
  17813000000,
  None,
  -6052000000,
  -3482000000,
  None,
  None,
  -2570000000,
  None,
  None,
  None,
  11761000000,
  427000000,
  None,
  None,
  None,
  None,
  None,
  None,
  427000000,
  12188000000,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  12188000000,
  -3174000000,
  None,
  None,
  None,
  None,
  9014000000,
  None,
  None,
  None,
  9014000000,
  None,
  9014000000,
  None,
  None,
  9014000000],
 'Q1-2017': ['78351000000',
  None,
  None,
  None,
  '-48175000000',
  None,
  None,
  None,
  30176000000,
  None,
  -6817000000,
  '-3946000000',
  None,
  None,
  '-2871000000',
  None,
  None,
  None,
  23359000000,
  821000000,
  None,
  None,
  None,
  None,
  None,
  None,
  '821000000',
  24180000000,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  24180000000,
  '-6289000000',
  None,
  None,
  None,
  None,
  17891000000,
  None,
  None,
  None,
  17891000000,
  None,
  17891000000,
  None,
  None,
  17891000000],
 'Q2-2017': ['52896000000',
  None,
  None,
  None,
  '-32305000000',
  None,
  None,
  None,
  20591000000,
  None,
  -6494000000,
  '-3718000000',
  None,
  None,
  '-2776000000',
  None,
  None,
  None,
  14097000000,
  587000000,
  None,
  None,
  None,
  None,
  None,
  None,
  '587000000',
  14684000000,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  14684000000,
  '-3655000000',
  None,
  None,
  None,
  None,
  11029000000,
  None,
  None,
  None,
  11029000000,
  None,
  11029000000,
  None,
  None,
  11029000000],
 'Q3-2017': ['45408000000',
  None,
  None,
  None,
  '-27920000000',
  None,
  None,
  None,
  17488000000,
  None,
  -6720000000,
  '-3783000000',
  None,
  None,
  '-2937000000',
  None,
  None,
  None,
  10768000000,
  540000000,
  None,
  None,
  None,
  None,
  None,
  None,
  '540000000',
  11308000000,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  11308000000,
  '-2591000000',
  None,
  None,
  None,
  None,
  8717000000,
  None,
  None,
  None,
  8717000000,
  None,
  8717000000,
  None,
  None,
  8717000000],
 'Q4-2017': [52579000000,
  None,
  None,
  None,
  -32648000000,
  None,
  None,
  None,
  19931000000,
  None,
  -6811000000,
  -3814000000,
  None,
  None,
  -2997000000,
  None,
  None,
  None,
  13120000000,
  797000000,
  None,
  None,
  None,
  None,
  None,
  None,
  797000000,
  13917000000,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  13917000000,
  -3203000000,
  None,
  None,
  None,
  None,
  10714000000,
  None,
  None,
  None,
  10714000000,
  None,
  10714000000,
  None,
  None,
  10714000000],
 'Q1-2018': ['88293000000',
  None,
  None,
  None,
  '-54381000000',
  None,
  None,
  None,
  33912000000,
  None,
  -7638000000,
  '-4231000000',
  None,
  None,
  '-3407000000',
  None,
  None,
  None,
  26274000000,
  756000000,
  None,
  None,
  None,
  None,
  None,
  None,
  '756000000',
  27030000000,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  27030000000,
  '-6965000000',
  None,
  None,
  None,
  None,
  20065000000,
  None,
  None,
  None,
  20065000000,
  None,
  20065000000,
  None,
  None,
  20065000000],
 'Q2-2018': ['61137000000',
  None,
  None,
  None,
  '-37715000000',
  None,
  None,
  None,
  23422000000,
  None,
  -7528000000,
  '-4150000000',
  None,
  None,
  '-3378000000',
  None,
  None,
  None,
  15894000000,
  274000000,
  None,
  None,
  None,
  None,
  None,
  None,
  '274000000',
  16168000000,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  16168000000,
  '-2346000000',
  None,
  None,
  None,
  None,
  13822000000,
  None,
  None,
  None,
  13822000000,
  None,
  13822000000,
  None,
  None,
  13822000000],
 'Q3-2018': ['53265000000',
  None,
  None,
  None,
  '-32844000000',
  None,
  None,
  None,
  20421000000,
  None,
  -7809000000,
  '-4108000000',
  None,
  None,
  '-3701000000',
  None,
  None,
  None,
  12612000000,
  672000000,
  None,
  None,
  None,
  None,
  None,
  None,
  '672000000',
  13284000000,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  13284000000,
  '-1765000000',
  None,
  None,
  None,
  None,
  11519000000,
  None,
  None,
  None,
  11519000000,
  None,
  11519000000,
  None,
  None,
  11519000000],
 'Q4-2018': [62900000000,
  None,
  None,
  None,
  -38816000000,
  None,
  None,
  None,
  24084000000,
  None,
  -7966000000,
  -4216000000,
  None,
  None,
  -3750000000,
  None,
  None,
  None,
  16118000000,
  303000000,
  None,
  None,
  None,
  None,
  None,
  None,
  303000000,
  16421000000,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  16421000000,
  -2296000000,
  None,
  None,
  None,
  None,
  14125000000,
  None,
  None,
  None,
  14125000000,
  None,
  14125000000,
  None,
  None,
  14125000000]}

In [11]:
df = pd.DataFrame(data=d)

In [12]:
df

,Line Item,Q1-2013,Q2-2013,Q3-2013,Q4-2013,Q1-2014,Q2-2014,Q3-2014,Q4-2014,Q1-2015,...,Q3-2016,Q4-2016,Q1-2017,Q2-2017,Q3-2017,Q4-2017,Q1-2018,Q2-2018,Q3-2018,Q4-2018
0,Revenue,114187000000,116830000000,115688000000,1.295890e+11,114960000000,120125000000,119001000000,1.315650e+11,114826000000,...,118179000000,1.309360e+11,117542000000,123355000000,123179000000,1.362670e+11,122690000000,128028000000,1.248940e+11,None
1,Sales & Services Revenue,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
2,Financing Revenue,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
3,Other Revenue,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
4,Cost of revenue,-86027000000,-87420000000,-86687000000,-9.793500e+10,-86714000000,-90010000000,-89247000000,-9.911500e+10,-86483000000,...,-87484000000,-9.774300e+10,-87688000000,-91521000000,-91547000000,-1.026400e+11,-91707000000,-95571000000,-9.311600e+10,None
5,Cost of Goods & Services,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
6,Cost of Financing Revenue,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
7,Cost of Other Revenue,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
8,Gross Profit,28160000000,29410000000,29001000000,3.165400e+10,28246000000,30115000000,29754000000,3.245000e+10,28343000000,...,30695000000,3.319300e+10,29854000000,31834000000,31632000000,3.362700e+10,30983000000,32457000000,3.177800e+10,None
9,Other Operating Income,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
10,Operating Expenses,-21704000000,-22633000000,-22691000000,-2.432500e+10,-22053000000,-23375000000,-23489000000,-2.450100e+10,-22663000000,...,-25576000000,-2.698800e+10,-24617000000,-25865000000,-26868000000,-2.916000e+10,-25829000000,-26707000000,-2.679200e+10,None
11,"Selling, General & Administrative",-21704000000,-22633000000,-22691000000,-2.432500e+10,-22053000000,-23375000000,-23489000000,-2.450100e+10,-22663000000,...,-25576000000,-2.698800e+10,-24617000000,-25865000000,-26868000000,-2.916000e+10,-25829000000,-26707000000,-2.679200e+10,None
12,Selling & Marketing,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
13,General & Administrative,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
14,Research & Development,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
15,Depreciation & Amortization,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
16,Provision For Doubtful Accounts,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
17,Other Operating Expense,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
18,Operating Income (Loss),6456000000,6777000000,6310000000,7.329000e+09,6193000000,6740000000,6265000000,7.949000e+09,5680000000,...,5119000000,6.205000e+09,5237000000,5969000000,4764000000,4.467000e+09,5154000000,5750000000,4.986000e+09,None
19,Non-Operating Income (Loss),-530000000,-552000000,-580000000,-5.540000e+08,-568000000,-538000000,-656000000,-5.860000e+08,-824000000,...,-585000000,-5.550000e+08,-563000000,-575000000,-541000000,-4.990000e+08,-487000000,-5352000000,-2.410000e+09,None
20,"Interest Expense, net",-530000000,-552000000,-580000000,-5.540000e+08,-568000000,-538000000,-656000000,-5.860000e+08,-824000000,...,-585000000,-5.550000e+08,-563000000,-575000000,-541000000,-4.990000e+08,-487000000,-503000000,-5.340000e+08,None
21,Interest Expense,-574000000,-589000000,-592000000,-5.800000e+08,-592000000,-570000000,-676000000,-6.230000e+08,-843000000,...,-609000000,-5.850000e+08,-598000000,-613000000,-583000000,-5.360000e+08,-530000000,-554000000,-5.930000e+08,None
22,Interest Income,44000000,37000000,12000000,2.600000e+07,24000000,32000000,20000000,3.700000e+07,19000000,...,24000000,3.000000e+07,35000000,38000000,42000000,3.700000e+07,43000000,51000000,5.900000e+07,None
23,Other Investment Income (Loss),None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
24,Foreign Exchange Gain (Loss),None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
25,Income (Loss) from Affiliates,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
26,Other Non-Operating Income (Loss),None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,-4849000000,-1.876000e+09,None
27,"Pretax Income (Loss), Adjusted",5926000000,6225000000,5730000000,6.775000e+09,5625000000,6202000000,5609000000,7.363000e+09,4856000000,...,4534000000,5.650000e+09,4674000000,5394000000,4223000000,3.968000e+09,4667000000,398000000,2.576000e+09,None
28,Abnormal Gains (Losses),None,None,None,NaN,None,None,None,NaN,None,...,0,0.000000e+00,None,-788000000,-1344000000,-1.004000e+09,-1845000000,0,0.000000e+00,None
29,Acquired In-Process R&D,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
30,Merger / Acquisition Expense,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
31,Abnormal Derivatives,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
32,Disposal of Assets,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
33,Early extinguishment of Debt,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
34,Asset Write-Down,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
35,Impairment of Goodwill & Intangibles,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
36,Sale of Business,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
37,Legal Settlement,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
38,Restructuring Charges,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
39,Sale of and Unrealized Investments,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
40,Insurance Settlement,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
41,Other Abnormal Items,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
42,Pretax Income (Loss),5926000000,6225000000,5730000000,6.775000e+09,5625000000,6202000000,5609000000,7.363000e+09,4856000000,...,4534000000,5.650000e+09,4674000000,4606000000,2879000000,2.964000e+09,2822000000,398000000,2.576000e+09,None
43,"Income Tax (Expense) Benefit, net",-1981000000,-2020000000,-1860000000,-2.244000e+09,-1914000000,-2113000000,-1783000000,-2.175000e+09,-1573000000,...,-1332000000,-1.664000e+09,-1522000000,-1502000000,-975000000,-6.010000e+08,-546000000,-1125000000,-7.590000e+08,None
44,Current Income Tax,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
45,Deferred Income Tax,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
46,Tax Allowance/Credit,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
47,"Income (Loss) from Affiliates, net of taxes",None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
48,Income (Loss) from Continuing Operations,3945000000,4205000000,3870000000,4.531000e+09,3711000000,4089000000,3826000000,5.188000e+09,3283000000,...,3202000000,3.986000e+09,3152000000,3104000000,1904000000,2.363000e+09,2276000000,-727000000,1.817000e+09,None
49,Net Extraordinary Gains (Losses),None,10000000,15000000,1.190000e+08,15000000,270000000,0,0.000000e+00,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
50,Discontinued Operations,None,10000000,15000000,1.190000e+08,15000000,270000000,0,0.000000e+00,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
51,XO & Accounting Charges & Other,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
52,Income (Loss) Including Minority Interest,3945000000,4215000000,3885000000,4.650000e+09,3726000000,4359000000,3826000000,5.188000e+09,3283000000,...,3202000000,3.986000e+09,3152000000,3104000000,1904000000,2.363000e+09,2276000000,-727000000,1.817000e+09,None
53,Minority Interest,-161000000,-146000000,-147000000,-2.190000e+08,-133000000,-266000000,-115000000,-2.220000e+08,58000000,...,-168000000,-2.290000e+08,-113000000,-205000000,-155000000,-1.880000e+08,-142000000,-134000000,-1.070000e+08,None
54,Net Income,3784000000,4069000000,3738000000,4.431000e+09,3593000000,4093000000,3711000000,4.966000e+09,3341000000,...,3034000000,3.757000e+09,3039000000,2899000000,1749000000,2.175000e+09,2134000000,-861000000,1.710000e+09,None
55,Preferred Dividends,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
56,Other Adjustments,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,NaN,None
57,Net Income Available to Common Shareholders,3784000000,4069000000,3738000000,4.431000e+09,3593000000,4093000000,3711000000,4.966000e+09,3341000000,...,3034000000,3.757000e+09,3039000000,2899000000,1749000000,2.175000e+09,2134000000,-861000000,1.710000e+09,None

In [60]:
company_id = '111052'
url = 'https://simfin.com/api/v1/companies/id/' + company_id + '/ratios?api-key=Y1wqSBHqhkOrzj0Ln0ZXQVDEXbFzTXb2'
content = requests.get(url)
content = content.json()
# https://simfin.com/api/v1/companies/id/{companyId}/ratios

In [61]:
content

[{'indicatorId': '0-31',
  'indicatorName': 'Last Closing Price',
  'value': '189.95',
  'period': None,
  'fyear': None,
  'currency': 'USD',
  'period-end-date': '2019-03-29'},
 {'indicatorId': '0-64',
  'indicatorName': 'Common Shares Outstanding',
  'value': '4715280000',
  'period': None,
  'fyear': None,
  'currency': None,
  'period-end-date': '2019-01-18'},
 {'indicatorId': '0-65',
  'indicatorName': 'Preferred Shares Outstanding',
  'value': None,
  'period': None,
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '0-66',
  'indicatorName': 'Average Shares Outstanding, basic',
  'value': '4861112750',
  'period': 'TTM',
  'fyear': 2019,
  'currency': None,
  'period-end-date': '2018-12-31'},
 {'indicatorId': '0-67',
  'indicatorName': 'Average Shares Outstanding, diluted',
  'value': '4903975250',
  'period': 'TTM',
  'fyear': 2019,
  'currency': None,
  'period-end-date': '2018-12-31'},
 {'indicatorId': '1-1',
  'indicatorName': 'Revenues',
  'value': '261612000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '1-2',
  'indicatorName': 'Cost of Goods Sold',
  'value': '161654000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '1-4',
  'indicatorName': 'Gross Profit',
  'value': '99958000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '1-11',
  'indicatorName': 'Operating Expenses',
  'value': '31988000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '1-12',
  'indicatorName': 'Selling, General and Administrative',
  'value': '17257000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '1-15',
  'indicatorName': 'Research & Development Expenses',
  'value': '14731000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '1-19',
  'indicatorName': 'Operating Income (EBIT)',
  'value': '67970000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '1-21',
  'indicatorName': 'Interest Expense, net',
  'value': '0',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '1-28',
  'indicatorName': 'Pretax Income (adjusted)',
  'value': '69779000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '1-43',
  'indicatorName': 'Pretax Income',
  'value': '69779000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '1-44',
  'indicatorName': 'Income Taxes',
  'value': '10348000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '1-49',
  'indicatorName': 'Income from Continuing Operations',
  'value': '59431000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '1-58',
  'indicatorName': 'Net Income (common shareholders)',
  'value': '59431000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '2-1',
  'indicatorName': 'Cash and Cash-equivalents',
  'value': '86427000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '2-5',
  'indicatorName': 'Receivables, net',
  'value': '18077000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '2-21',
  'indicatorName': 'Total Current Assets',
  'value': '140828000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '2-22',
  'indicatorName': 'Property, Plant and Equipment, net',
  'value': '39597000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '2-41',
  'indicatorName': 'Total Assets',
  'value': '373719000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '2-43',
  'indicatorName': 'Accounts payable',
  'value': '44293000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '2-47',
  'indicatorName': 'Current Debt',
  'value': '21741000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '2-57',
  'indicatorName': 'Total Current Liabilities',
  'value': '108283000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '2-58',
  'indicatorName': 'Non-current Debt',
  'value': '92989000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '2-73',
  'indicatorName': 'Total Liabilities',
  'value': '255827000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '2-74',
  'indicatorName': 'Preferred Equity',
  'value': '0',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '2-76',
  'indicatorName': 'Common Stock',
  'value': '40970000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '2-82',
  'indicatorName': 'Equity before minorities',
  'value': '117892000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '2-83',
  'indicatorName': 'Minority Interest',
  'value': '0',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '2-84',
  'indicatorName': 'Total Equity',
  'value': '117892000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '3-2',
  'indicatorName': 'Depreciation & Amortisation',
  'value': '11553000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '3-7',
  'indicatorName': 'Change in Working Capital',
  'value': '-1469000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '3-13',
  'indicatorName': 'Operating Cash Flow',
  'value': '75831000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '3-14',
  'indicatorName': 'Net Change in PP&E & Intangibles',
  'value': '-13858000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '3-31',
  'indicatorName': 'Investing Cash Flow',
  'value': '35500000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '3-32',
  'indicatorName': 'Dividends paid',
  'value': '-13941000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '3-43',
  'indicatorName': 'Financing Cash Flow',
  'value': '-94051000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '3-46',
  'indicatorName': 'Net Change in Cash',
  'value': '17280000000',
  'period': 'TTM',
  'fyear': 2019,
  'currency': 'USD',
  'period-end-date': '2018-12-31'},
 {'indicatorId': '4-11',
  'indicatorName': 'Market Capitalisation',
  'value': '895667436000',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-10',
  'indicatorName': 'EBITDA',
  'value': '79523000000',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-6',
  'indicatorName': 'Total Debt',
  'value': '114730000000',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-25',
  'indicatorName': 'Free Cash Flow',
  'value': '53848000000',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-0',
  'indicatorName': 'Gross Margin',
  'value': '0.38210',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-1',
  'indicatorName': 'Operating Margin',
  'value': '0.25980',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-2',
  'indicatorName': 'Net Profit Margin',
  'value': '0.22720',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-7',
  'indicatorName': 'Return on Equity',
  'value': '0.50410',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-9',
  'indicatorName': 'Return on Assets',
  'value': '0.15900',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-28',
  'indicatorName': 'Free Cash Flow to Net Income',
  'value': '0.90610',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-3',
  'indicatorName': 'Current Ratio',
  'value': '1.30060',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-4',
  'indicatorName': 'Liabilities to Equity Ratio',
  'value': '2.17000',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-5',
  'indicatorName': 'Debt to Assets Ratio',
  'value': '0.30700',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-12',
  'indicatorName': 'Earnings per Share, Basic',
  'value': '12.23',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-13',
  'indicatorName': 'Earnings per Share, Diluted',
  'value': '12.12',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-17',
  'indicatorName': 'Sales per Share',
  'value': '53.82',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-18',
  'indicatorName': 'Book Value per Share',
  'value': '24.25',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-26',
  'indicatorName': 'Free Cash Flow per Share',
  'value': '11.08',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-29',
  'indicatorName': 'Dividends per Share',
  'value': '2.87',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-14',
  'indicatorName': 'Price to Earnings Ratio',
  'value': '15.54',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-15',
  'indicatorName': 'Price to Sales Ratio',
  'value': '3.53',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-16',
  'indicatorName': 'Price to Book Value',
  'value': '7.83',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-27',
  'indicatorName': 'Price to Free Cash Flow',
  'value': '17.15',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-11',
  'indicatorName': 'Market Capitalisation',
  'value': '895667436000',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-20',
  'indicatorName': 'Enterprise Value',
  'value': '923970436000',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-21',
  'indicatorName': 'EV/EBITDA',
  'value': '11.62',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-22',
  'indicatorName': 'EV/Sales',
  'value': '3.53',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-31',
  'indicatorName': 'EV/FCF',
  'value': '17.16',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-23',
  'indicatorName': 'Book to Market Value',
  'value': '0.13',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-24',
  'indicatorName': 'Operating Income/EV',
  'value': '0.07360',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None},
 {'indicatorId': '4-30',
  'indicatorName': 'Pietroski F-Score',
  'value': '8.00',
  'period': 'TTM',
  'fyear': None,
  'currency': None,
  'period-end-date': None}]

In [62]:
pd.options.display.max_rows = 100

In [63]:
df2 = pd.DataFrame(data=content)

In [64]:
df2

,currency,fyear,indicatorId,indicatorName,period,period-end-date,value
0,USD,NaN,0-31,Last Closing Price,None,2019-03-29,189.95
1,None,NaN,0-64,Common Shares Outstanding,None,2019-01-18,4715280000
2,None,NaN,0-65,Preferred Shares Outstanding,None,None,None
3,None,2019.0,0-66,"Average Shares Outstanding, basic",TTM,2018-12-31,4861112750
4,None,2019.0,0-67,"Average Shares Outstanding, diluted",TTM,2018-12-31,4903975250
5,USD,2019.0,1-1,Revenues,TTM,2018-12-31,261612000000
6,USD,2019.0,1-2,Cost of Goods Sold,TTM,2018-12-31,161654000000
7,USD,2019.0,1-4,Gross Profit,TTM,2018-12-31,99958000000
8,USD,2019.0,1-11,Operating Expenses,TTM,2018-12-31,31988000000
9,USD,2019.0,1-12,"Selling, General and Administrative",TTM,2018-12-31,17257000000
10,USD,2019.0,1-15,Research & Development Expenses,TTM,2018-12-31,14731000000
11,USD,2019.0,1-19,Operating Income (EBIT),TTM,2018-12-31,67970000000
12,USD,2019.0,1-21,"Interest Expense, net",TTM,2018-12-31,0
13,USD,2019.0,1-28,Pretax Income (adjusted),TTM,2018-12-31,69779000000
14,USD,2019.0,1-43,Pretax Income,TTM,2018-12-31,69779000000
15,USD,2019.0,1-44,Income Taxes,TTM,2018-12-31,10348000000
16,USD,2019.0,1-49,Income from Continuing Operations,TTM,2018-12-31,59431000000
17,USD,2019.0,1-58,Net Income (common shareholders),TTM,2018-12-31,59431000000
18,USD,2019.0,2-1,Cash and Cash-equivalents,TTM,2018-12-31,86427000000
19,USD,2019.0,2-5,"Receivables, net",TTM,2018-12-31,18077000000
20,USD,2019.0,2-21,Total Current Assets,TTM,2018-12-31,140828000000
21,USD,2019.0,2-22,"Property, Plant and Equipment, net",TTM,2018-12-31,39597000000
22,USD,2019.0,2-41,Total Assets,TTM,2018-12-31,373719000000
23,USD,2019.0,2-43,Accounts payable,TTM,2018-12-31,44293000000
24,USD,2019.0,2-47,Current Debt,TTM,2018-12-31,21741000000
25,USD,2019.0,2-57,Total Current Liabilities,TTM,2018-12-31,108283000000
26,USD,2019.0,2-58,Non-current Debt,TTM,2018-12-31,92989000000
27,USD,2019.0,2-73,Total Liabilities,TTM,2018-12-31,255827000000
28,USD,2019.0,2-74,Preferred Equity,TTM,2018-12-31,0
29,USD,2019.0,2-76,Common Stock,TTM,2018-12-31,40970000000
30,USD,2019.0,2-82,Equity before minorities,TTM,2018-12-31,117892000000
31,USD,2019.0,2-83,Minority Interest,TTM,2018-12-31,0
32,USD,2019.0,2-84,Total Equity,TTM,2018-12-31,117892000000
33,USD,2019.0,3-2,Depreciation & Amortisation,TTM,2018-12-31,11553000000
34,USD,2019.0,3-7,Change in Working Capital,TTM,2018-12-31,-1469000000
35,USD,2019.0,3-13,Operating Cash Flow,TTM,2018-12-31,75831000000
36,USD,2019.0,3-14,Net Change in PP&E & Intangibles,TTM,2018-12-31,-13858000000
37,USD,2019.0,3-31,Investing Cash Flow,TTM,2018-12-31,35500000000
38,USD,2019.0,3-32,Dividends paid,TTM,2018-12-31,-13941000000
39,USD,2019.0,3-43,Financing Cash Flow,TTM,2018-12-31,-94051000000
40,USD,2019.0,3-46,Net Change in Cash,TTM,2018-12-31,17280000000
41,None,NaN,4-11,Market Capitalisation,TTM,None,895667436000
42,None,NaN,4-10,EBITDA,TTM,None,79523000000
43,None,NaN,4-6,Total Debt,TTM,None,114730000000
44,None,NaN,4-25,Free Cash Flow,TTM,None,53848000000
45,None,NaN,4-0,Gross Margin,TTM,None,0.38210
46,None,NaN,4-1,Operating Margin,TTM,None,0.25980
47,None,NaN,4-2,Net Profit Margin,TTM,None,0.22720
48,None,NaN,4-7,Return on Equity,TTM,None,0.50410
49,None,NaN,4-9,Return on Assets,TTM,None,0.15900
50,None,NaN,4-28,Free Cash Flow to Net Income,TTM,None,0.90610
51,None,NaN,4-3,Current Ratio,TTM,None,1.30060
52,None,NaN,4-4,Liabilities to Equity Ratio,TTM,None,2.17000
53,None,NaN,4-5,Debt to Assets Ratio,TTM,None,0.30700
54,None,NaN,4-12,"Earnings per Share, Basic",TTM,None,12.23
55,None,NaN,4-13,"Earnings per Share, Diluted",TTM,None,12.12
56,None,NaN,4-17,Sales per Share,TTM,None,53.82
57,None,NaN,4-18,Book Value per Share,TTM,None,24.25
58,None,NaN,4-26,Free Cash Flow per Share,TTM,None,11.08
59,None,NaN,4-29,Dividends per Share,TTM,None,2.87
60,None,NaN,4-14,Price to Earnings Ratio,TTM,None,15.54
61,None,NaN,4-15,Price to Sales Ratio,TTM,None,3.53
62,None,NaN,4-16,Price to Book Value,TTM,None,7.83
63,None,NaN,4-27,Price to Free Cash Flow,TTM,None,17.15
64,None,NaN,4-11,Market Capitalisation,TTM,None,895667436000
65,None,NaN,4-20,Enterprise Value,TTM,None,923970436000
66,None,NaN,4-21,EV/EBITDA,TTM,None,11.62
67,None,NaN,4-22,EV/Sales,TTM,None,3.53
68,None,NaN,4-31,EV/FCF,TTM,None,17.16
69,None,NaN,4-23,Book to Market Value,TTM,None,0.13
70,None,NaN,4-24,Operating Income/EV,TTM,None,0.07360
71,None,NaN,4-30,Pietroski F-Score,TTM,None,8.00

In [98]:
for index, row in df2.iterrows():
    print (row['currency'])

USD
None
None
None
None
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None

In [44]:
import requests, csv, datetime
import pandas as pd
from csv import writer, reader


 
def top_50_by_comments():      # gets top 50 ticker symbols and returns a list

    all_comments = pd.read_csv('all-comments.csv')
    begin_date = datetime.date.today() + datetime.timedelta(-30)  # gets 30 day prior date
    begin_date = begin_date.strftime('%Y-%m-%d')    # converts to a string
    recent_comments = all_comments[all_comments['date'] > begin_date]
    recent_comments = recent_comments['ticker'].value_counts().head(50).index.tolist()
    return recent_comments
    
    
def sim_ids():   # get sim_ids from SimFin from tickers.  Calls the top_50_by_comments func
    
    tickers = top_50_by_comments()
    api_key = 'Y1wqSBHqhkOrzj0Ln0ZXQVDEXbFzTXb2'
    sim_ids = []    
    for ticker in tickers:
        request_url = f'https://simfin.com/api/v1/info/find-id/ticker/{ticker}?api-key={api_key}'
        content = requests.get(request_url)
        data = content.json()

        if "error" in data or len(data) < 1:
            sim_ids.append(None)
        else:
            sim_ids.append(data[0]['simId'])
    return sim_ids

    
    
def fin_ratios():

    api_key = 'Y1wqSBHqhkOrzj0Ln0ZXQVDEXbFzTXb2'
    tickers = top_50_by_comments()
    ticker_counter = 0
    company_ids = sim_ids()

#     tickers = ['XRX', 'ORCL', 'WIN', 'WMT', 'SHLD', 'VZ', 'GE', 'SAP', 'BK', 'UNP']
#     ticker_counter = 0
#     company_ids = [378247, 257930, 625612, 239962, 100266, 101219, 244314, None, 467599, 367644]

    
    with open('fin_ratios.csv', 'w', encoding='utf-8', newline = '') as file:    #Opens new file to write to
        csv_object = csv.writer(file)
        csv_object.writerow(['ticker', 'company_id', 'currency', 'fyear', 'indicatorId',
                            'indicatorName', 'period', 'period_end_date', 'value'])  #Header

        for company in company_ids:  # loops through each of the top tickers
            try:
                url = f'https://simfin.com/api/v1/companies/id/{company}/ratios?api-key=Y1wqSBHqhkOrzj0Ln0ZXQVDEXbFzTXb2'
                content = requests.get(url)
                content = content.json()
                df = pd.DataFrame(data=content) #puts into a dataframe

                for index, row in df.iterrows():   # goes through each row and writes to csv file
                    ticker = tickers[ticker_counter]
                    company_id = company
                    currency = row['currency']
                    fyear = row['fyear']
                    indicatorId = row['indicatorId']
                    indicatorName = row['indicatorName']
                    period = row['period']
                    period_end_date = row['period-end-date']
                    value = row['value']
                    csv_object.writerow([ticker, company_id, currency, fyear, indicatorId, 
                                        indicatorName, period, period_end_date, value])
            except:
                pass
            ticker_counter += 1

In [43]:
fin_ratios()